<div class="row">
  <div class="col-md-4 my-4" *ngFor="let product of products;">
    <div class="card">
      <div class="sticky-top ml-auto">
        <span class="badge badge-warning">60% off</span>
      </div>
      <div class="d-flex justify-content-center">
        <img
          src="{{ IMG_BASE_URL + product.image }}"
          class="card-img-top product-image"
          alt=""
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.productName }}</h5>
        <h4>
          <span>{{product.price | currency: 'INR'}}</span>
          <span>
              <S>{{product.mrp | currency: 'INR'}}</S>
          </span>
        </h4>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-warning">Order</a>
      </div>
    </div>
  </div>
</div>
