<div class="container">
    <div class="row">
      <div class="owl-carousel owl-theme">
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">60% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-1.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">30% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-2.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">70% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-3.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">10% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-4.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">20% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-5.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">43% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-6.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">15% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-7.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">40% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-8.png">
        </div>
        <div class="item slider-item mx-5">
          <div class="sticky-top ml-auto">
            <span class="badge badge-warning">30% off</span>
          </div>
          <img class="img-fluid slider-image" src="../assets/images/slider/slider-9.png">
        </div>
        <div class="item slider-item mx-5">
            <div class="sticky-top ml-auto">
              <span class="badge badge-warning">70% off</span>
            </div>
            <img class="img-fluid slider-image" src="../assets/images/slider/slider-10.png">
        </div>
      </div>
    </div>
</div>