<app-navbar></app-navbar>
<div class="container">
  <div class="row d-flex justify-content-center my-5">
    <h1 class="special-title">ADShop</h1>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, eum.
        Architecto, repudiandae quo quod a deleniti illum eos praesentium
        explicabo non iste porro temporibus minus quasi ipsam reiciendis
        pariatur quis repellendus corporis esse ducimus ab. Temporibus accusamus
        perspiciatis officiis cum impedit suscipit inventore natus quia porro
        assumenda ducimus earum omnis, consequuntur qui consectetur eaque
        tenetur quasi atque enim debitis, ut error. Vel, laborum sit adipisci
        eveniet consectetur qui fugiat eius explicabo ipsum sequi. Commodi sunt
        praesentium repellendus repudiandae soluta doloribus voluptatibus velit
        aperiam totam animi temporibus quasi non consectetur, et fugiat
        voluptas, laboriosam quo quod magnam culpa modi eius. Totam!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, eum.
        Architecto, repudiandae quo quod a deleniti illum eos praesentium
        explicabo non iste porro temporibus minus quasi ipsam reiciendis
        pariatur quis repellendus corporis esse ducimus ab. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Odit ipsa suscipit esse
        doloremque amet totam necessitatibus cupiditate aperiam facere sunt!
      </p>
    </div>
    <div class="col-md-4 ml-5">
        <img src="../assets/images/about.jpg" alt="" class="img-fluid">
    </div>
  </div>
</div>
